modules = ["nodejs-20", "nix"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Script"

[[workflows.workflow]]
name = "Run Script"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"
